<div class="pull overview">
    <div class="row">
        <div class="span3">
            <table>
                <tr>
                    <th>Auteur:</th>
                    <td>{{entity.idutilisateur}}</td>
                </tr>
                <tr>
                    <th>Date:</th>
                    <td>{{entity.date|date('Y-m-d H:i:s')}}</td>
                </tr>
                <tr>
                    <th></th>
                    <td>{{entity.texte}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>